{:paths ["src/clj"
         "src/java"
         "generated/clj"
         "src/resources"
         "target/generated/classes"]
 :deps {babashka/fs {:mvn/version "0.5.20"}
        babashka/process {:mvn/version "0.5.22"}
        com.lambdaisland/cli {:mvn/version "0.7.33"}
        io.github.rwstauner/which-clj {:git/url "https://github.com/rwstauner/which-clj.git"
                                       :git/sha "5d467f2f8aab844d4508e1066ad6714a0fab8cc6"}
        com.github.seancfoley/ipaddress {:mvn/version "5.5.0"}
        com.google.protobuf/protobuf-java {:mvn/version "3.25.3"}
        io.github.protojure/core {:mvn/version "2.8.2"}
        io.github.protojure/google.protobuf {:mvn/version "2.0.1"}
        metosin/jsonista {:mvn/version "0.3.8"}
        metosin/malli {:mvn/version "0.15.0"}
        org.bouncycastle/bcpkix-jdk18on {:mvn/version "1.77"}
        org.bouncycastle/bcprov-jdk18on {:mvn/version "1.77"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/clojure {:mvn/version "1.11.2"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.14"}}
 :deps/prep-lib {:alias :build
                 :fn compile-java
                 :ensure "target/generated/classes"}
 :aliases {:test {:extra-paths ["test/src" "test/resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                               io.github.matthewdowney/rich-comment-tests {:mvn/version "v1.0.3"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :dev {:extra-paths ["dev" "dev-resources"]
                 :extra-deps {djblue/portal {:mvn/version "0.52.2"}
                              io.github.matthewdowney/rich-comment-tests {:mvn/version "v1.0.3"}
                              org.slf4j/slf4j-simple {:mvn/version "2.0.12"}}
                 :jvm-opts ["-Dconf=conf/efactura.dev.edn"]}
           :debug {:jvm-opts [;; enable logging for java.net.http
                              "-Djdk.httpclient.HttpClient.log=errors,requests,headers,frames[:control:data:window:all..],content,ssl,trace,channel"]}
           :outdated {;; Note that it is `:deps`, not `:extra-deps`
                      :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                             org.slf4j/slf4j-simple {:mvn/version "2.0.12"}}
                      :main-opts ["-m" "antq.core"]}
                   ;; add this to :aliases in deps.edn:
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
                   :ns-default build}}}